.services{
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 64px; 
    text-align: center; 
    color: #000000;
    padding-top: 50px;
}

.services__cards{
display: grid;
grid-template-columns: auto auto auto;
justify-content: center;
gap: 30px;
margin-top: 30px;
}

.services__cards__item{
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  padding: 20px;
   -webkit-box-shadow: -3px 0px 15px 4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -3px 0px 15px 4px rgba(34, 60, 80, 0.2);
  box-shadow: -3px 0px 15px 4px rgba(34, 60, 80, 0.2);
  border-radius: 8px;
}
.services__cards__item img{
    width: 80px;
    height: 80px;
padding-top: 15px;
}

.services__cards__item-title{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-align: center; 
    color: #000000;
}
.services__cards__item-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.496405);
    padding-top: 15px;
}

@media  only screen and (max-width: 1100px){
    .services__cards{
       margin: 30px auto;
       grid-template-columns: auto auto;

    }
  }

  @media  only screen and (max-width: 673px){
    .services__cards{
       margin: 30px auto;
       grid-template-columns: auto;

    }
  }
  @media  only screen and (max-width: 768px){
    .services{
     font-size: 40px;
    }
  }
  @media  only screen and (max-width: 497px){
    .services{
     font-size: 35px;
    }
  }

  @media  only screen and (max-width: 424px){
    .services{
     font-size: 30px;
    }
  }
  
